<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      src="https://via.placeholder.com/200"
      alt=""
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div class="">
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Snickers</p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
    </div>
    <div class="flex justify-between">
      <span class="text-red-400">{{ "200" | currency }}</span>
      <button class="text-gray-500" (click)="onAddToCart()">
        <mat-icon> shopping_cart </mat-icon>
      </button>
    </div>
  </div>
</mat-card>
